table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

tbody{
    display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
td{
    display: table-cell;
vertical-align: inherit;
border: 15px;
border-color: blanchedalmond;
}